$accent_color: #000;

body{
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  background-image: url(swirl_pattern.png);
}

a{
  color: #00A;
}

a:hover{
  color: #0A0;
}

.thumbnail{
  height: 600px;
}